@{
    ViewBag.Title = "Index";
}
@{
    Layout = null;
}
@model Data_Transfer_Layer.UserDataTransfer
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>OAK Academy| Log in</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link href="~/Content/bootstrap.min.css" rel="stylesheet" />
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.2/font/bootstrap-icons.css" integrity="sha384-b6lVK+yci+bfDmaY1u0zE8YYJt0TZxLEAFyYSLHId4xoVvsrQu3INevFKo+Xir8e" crossorigin="anonymous">

</head>
<body class="hold-transition login-page d-flex justify-content-center align-items-center vh-100">
    <div class="login-box">
        <div class="login-logo text-center h3 mb-4 text-decoration-none">
        </div>
        <!-- /.login-logo -->
        <div class="card p-4" style="background-color:darkslategrey">
            @{ 
                if(@ViewBag.message== "Login Successfull")
                {
                    <h5 class="text-success text-center">@ViewBag.message</h5>
                }
                else
                {
                   <h5 class="text-danger text-center">@ViewBag.message</h5>
                }
            }
            
        <div class="card-body login-card-body ">
            <p class="login-box-msg text-center text-light">Sign in to start your session</p>

            @using (Html.BeginForm(FormMethod.Post))
            {
                <div class="input-group">
                    <input type="text" class="form-control" placeholder="Username" name="Username">
                    <div class="input-group-text">
                        <i class="bi bi-envelope-fill"></i>
                    </div>
                </div>
                @Html.ValidationMessageFor(x => x.Username, null, new { @class = "text-danger" })
                <div class="input-group mt-3">
                    <input type="password" class="form-control" placeholder="Password" name="Password">
                    <div class="input-group-text">
                        <i class="bi bi-lock-fill"></i>
                    </div>
                </div>
                @Html.ValidationMessageFor(x => x.Password, null, new { @class = "text-danger" })

                <div class="row mt-3">
                    <div class="col-7">
                        <div class="icheck-primary text-light">
                            <input type="checkbox" id="remember">
                            <label for="remember">
                                Remember Me
                            </label>
                        </div>
                    </div>
                    <div class="col-5">
                        <button class="btn btn-primary ms-2">Sign In</button>
                    </div>
                </div>

            }
            <!-- /.social-auth-links -->

            <p class="mb-1">
                <a href="forgot-password.html">I forgot my password</a>
            </p>
            <p class="mb-0">
                <a href="register.html" class="text-center">Register a new membership</a>
            </p>
        </div>
            <!-- /.login-card-body -->
        </div>
    </div>
    <!-- /.login-box -->
    <!-- jQuery -->
    <script src="~/Areas/Admin/Content/js/jquery.min.js"></script>
    <!-- Bootstrap 4 -->
    <script src="~/Areas/Admin/Content/js/bootstrap.bundle.min.js"></script>
    <!-- AdminLTE App -->
    <script src="~/Areas/Admin/Content/js/adminlte.min.js"></script>

</body>
</html>

